$containerWidth: 1180px;
$headerBgImg: url(../img/m-h-night.jpg);
$bgColor: #21232e;
$mainTextColor: #fff;
$underlineColor: #ff4e33;
$btnColor: #e3ac00;
$contentColor: #3b3f50;
$gradient: linear-gradient(to right, #db9f09, #d97d26, #cd5f39, #b64646, #98354d);
$footerFont: 'Source Sans Pro', sans-serif;