$containerWidth: 1180px;
$headerBgImg: url(../img/m-h-day.jpg);
$bgColor: #fff;
$mainTextColor: #000;
$underlineColor: #14a0c7;
$btnColor: #699900;
$contentColor: #21232e;
$gradient: linear-gradient(to right, #61911b, #00945e, #008eab, #007fe2, #2c5bdc);
$footerFont: 'Fresca', sans-serif;